<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
    <title>Edit ingredient</title>
</head>
<body>
<div class="bg-warning text-white pb-1 text-center">
    <h1>Edit Ingredient</h1>
</div>
<hr>
<div class="container text-center  align-content-center ">

    <form
            th:action="@{/ingredient/edit/{id}(id=${ingredient.id})}"
            id="ingredient-edit"
            method="POST"
            th:object="${ingredient}"
    >

        <div class="mb-3">
            <label for="name" class="form-label">Title</label>
            <input class="form-control" id="name" type="text" th:field="*{name}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                <ul>
                    <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-warning">Save</button>
            <a class="btn btn-warning" th:href="@{/ingredient}">Cancel</a>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

</body>
</html>