<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Create offer</title>
</head>
<body>
<div class=" text-center pb-1 text-white bg-warning">
    <h1>Add offer</h1>
</div>
<div class="d-flex text-center mx-auto row w-75">
    <form
            id="offer-form"
            th:object="${offer}"
            th:action="@{/offer/create}"
            method="post">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" th:field="*{title}" th:errorClass="is-invalid">
        <div th:if="${#fields.hasErrors('title')}" class="invalid-feedback">
            <ul>
                <li th:each="err : ${#fields.errors('title')}" th:text="${err}"></li>
            </ul>
        </div>

        <label for="startDate" class="form-label">Description</label>
        <input type="date" class="form-control" id="startDate" th:field="*{startDate}" th:errorClass="is-invalid">
        <div th:if="${#fields.hasErrors('startDate')}" class="invalid-feedback">
            <ul>
                <li th:each="err : ${#fields.errors('startDate')}" th:text="${err}"></li>
            </ul>
        </div>

        <label for="endDate" class="form-label">Price</label>
        <input type="date" class="form-control" id="endDate" th:field="*{endDate}" th:errorClass="is-invalid">
        <div th:if="${#fields.hasErrors('endDate')}" class="invalid-feedback">
            <ul>
                <li th:each="err : ${#fields.errors('endDate')}" th:text="${err}"></li>
            </ul>
        </div>

        <label for="pizza" class="form-label">ID Pizza</label>
        <input type="number" class="form-control" id="pizza" th:field="*{pizza}" th:errorClass="is-invalid">
        <div th:if="${#fields.hasErrors('pizza')}" class="invalid-feedback">
            <ul>
                <li th:each="err : ${#fields.errors('pizza')}" th:text="${err}"></li>
            </ul>
        </div>

        <hr>

        <button type="submit" class="btn btn-warning">Save</button>
        <a class="btn btn-warning" th:href="@{/pizza}">Cancel</a>


    </form>


</div>
</body>
</html>