<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Create pizza</title>
</head>
<body>
<div class=" text-center">
    <h1>Add pizza</h1>
</div>
<div class="d-flex text-center mx-auto bg-info row w-75">
    <form
            id="pizza-form"
            th:object="${pizza}"
            th:action="@{/pizza/create}"
            method="post">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" th:field="*{name}" th:errorClass="is-invalid">
        <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
            <ul>
                <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
            </ul>
        </div>

        <label for="name" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" th:field="*{description}" th:errorClass="is-invalid">
        <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback">
            <ul>
                <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
            </ul>
        </div>

        <label for="name" class="form-label">Price</label>
        <input type="text" class="form-control" id="price" th:field="*{price}" th:errorClass="is-invalid">
        <div th:if="${#fields.hasErrors('price')}" class="invalid-feedback">
            <ul>
                <li th:each="err : ${#fields.errors('price')}" th:text="${err}"></li>
            </ul>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>


    </form>
</div>
</body>
</html>